@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, segoe ui, Roboto, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji;;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {

    min-height: 100vh;
    width: 100%;
    background: linear-gradient(#001430, #03164A, #001430, #011530);
}



h1 {
    color: white;
    @apply text-5xl font-bold;
}

h2 {
    color: white;
    @apply text-3xl font-bold;
    @apply text-center;
}

.containerServices h2 {
    @apply flex items-center gap-5;

}

h3 {
    @apply text-xl text-gray-400 font-semibold;
    @apply text-center;
}

h4 {
    @apply text-xl text-gray-100;
}

p {
    @apply text-base;
    @apply text-gray-400;
    @apply leading-6;
}

a {
    color: white;
    @apply transition;
}
a:hover {
    color: red;
}
.containerContactTop{
    @apply leading-8 text-sm underline underline-offset-4 mt-2;
}
.containerContactTop a:last-child{
    @apply tracking-wide;
}
.containerNavbar {
    /*@apply flex flex-wrap items-center;*/
    /*@apply text-white;*/
    /*@apply py-4 px-4;*/
    /*@apply bg-red-100 md:bg-transparent;*/
}

.containerLarge {

    @apply hidden md:flex flex-wrap items-center;
    @apply text-white;
    @apply py-4 px-4;
    @apply bg-red-100 md:bg-transparent;
}

.containerMobile {
    /*flex flex-col*/
    @apply md:hidden;
    @apply px-4 py-2;
}

.containerLogo {
    @apply text-white;
    @apply w-[150px];
    @apply md:ml-0 lg:ml-16;
}

.linkBtn {
    @apply px-4 py-2;
    @apply text-gray-300;
}

.containerLink {
    @apply lg:gap-16;

    @apply flex flex-wrap items-center justify-center;
    @apply m-auto;
}

.containerRDV {
    @apply md:ml-0 lg:mr-16;
}

.containerPage {
    @apply mt-5 md:mt-16;
    @apply w-full md:w-10/12 lg:w-8/12;
    @apply p-10 md:p-0;
    @apply mx-auto;
}

.containerFirst {
    @apply flex flex-wrap;
    @apply items-center justify-center;
}

.containerFirst .containerText {
    @apply flex flex-col gap-5;
    @apply w-full md:w-6/12;
}

.containerFirst .containerImage {
    @apply w-full md:w-6/12 md:p-16;
}

.containerFirst .btnHeader {
    @apply px-8 !important;
}

.containerServices {
    @apply flex flex-col-reverse md:flex-row gap-y-16 flex-wrap;
    @apply items-center justify-center;
}

.containerServices .containerImage {
    @apply w-full md:w-6/12;
    @apply sm:px-28 md:px-12 lg:pr-20;
}

.containerServices .containerText {
    @apply w-full md:w-6/12;
    @apply flex flex-col gap-5;
    @apply md:px-4;
}

.containerServices h2 {
    @apply block w-full text-center;
}

.containerServices .containerText h2 {
    @apply text-left;
    @apply text-red-600;
    @apply flex gap-2;
}

.btn {
    @apply px-2 md:px-4 lg:px-6 py-2 rounded shadow;
    @apply bg-gradient-to-r from-pink-700 to-violet-900;
    @apply font-semibold;
}

.containerRealisations {
    @apply flex flex-col items-center justify-center;
}


.containerCards {
    @apply grid grid-cols-3 md:gap-8 gap-y-16 items-center justify-center;
    @apply my-10;
}

.containerCards svg {
    @apply block;
}

.containerCards .card {
    @apply p-5;
    @apply w-full h-full;
    @apply relative;
}

.containerCards .containerImage {
    @apply w-28 h-28 m-auto;

}

.containerCards img {
    @apply w-full h-full;
    @apply object-contain;
    @apply grayscale;
    @apply transition-all duration-200;
}
.containerCards img:hover {
    @apply filter-none;
}

.containerCards .card:before {
    content: '';
    @apply absolute top-0 left-0 right-0 bottom-0;
    @apply shadow;
    @apply rounded-xl;
    transform: skew(0, -5deg);
    @apply bg-gradient-to-b from-[#1F2571] to-[#1B2144];
    z-index: -1;
}

.containerCards .card:after {
    content: '';
    @apply absolute top-0 left-0 right-0 bottom-0;
    @apply shadow;
    @apply rounded-xl;
    transform: skew(0, 5deg);
    @apply bg-gradient-to-b from-[#1E314B] to-[#1B2144];
    z-index: -2;
}

.containerCards .contentCard {
    @apply flex flex-col gap-5;

}

.containerCards .btn {
    @apply block text-center;
}

.containerContact {
    @apply my-5;
    @apply flex flex-col gap-5;
    @apply w-full;
    @apply bg-[#152740];
    @apply rounded shadow;
    @apply p-5;

}

.containerContact h2, .containerContact h3 {
    @apply text-center block;
}

.containerForm {
    @apply flex flex-col gap-5;
    @apply w-full md:w-8/12 lg:w-5/12 mx-auto;
}

.containerForm .containerLabelInput {
    @apply space-y-2;
}

.containerForm label, .containerForm textarea, .containerForm input {
    @apply w-full;
}

.containerForm label {
    @apply font-bold;
    @apply text-white;
}

.containerForm input, .containerForm textarea {
    @apply py-2 px-4;
    @apply rounded;
    @apply bg-[#2E415C];
    @apply text-gray-100;
    @apply ring-0;
}

.containerForm button {
    @apply text-white font-semibold block;
}


.containerFooter {
    @apply flex flex-wrap items-center justify-center gap-5;
    @apply bg-[#12243E];
    @apply p-10 md:py-8 md:px-0;
}

.containerLogos {
    @apply space-x-4;
    @apply text-4xl;
}


.containerFooter .containerFirstCol,
.containerFooter .containerSecondCol,
.containerFooter .containerThirdCol {
    @apply flex flex-col gap-5;
    @apply w-full md:w-auto;
}

.containerFooter .containerFirstCol {
    @apply md:w-4/12;
}

.copyrightFirst {
    @apply hidden md:block;
}

.copyrightSecond {
    @apply block md:hidden;
}

.containerFirstCol img {
    @apply w-[250px];
}

.containerLinks {
    @apply flex flex-col gap-4;
}

.containerLinks .linkBtn {
    @apply p-0 transition
    hover:text-white;
}

.containerThirdCol h5 {
    @apply inline-flex items-center justify-center gap-2;
}

.containerThirdCol svg {
    @apply text-xl;
    @apply text-red-600;
}

.containerThirdCol a {
    @apply text-gray-400
    hover:text-white transition;
}

.containerMobile {
    @apply flex flex-wrap items-center ;
    @apply md:hidden;
}

.containerMobile .containerMenu {
    @apply absolute top-12 left-0 right-0;
    @apply overflow-hidden;
    @apply flex flex-col items-center justify-center;
    @apply transition-all duration-500;
    @apply bg-gradient-to-b from-[#001430] to-[#011530]  p-5;
}

.containerMobile .containerHiddenMenu {
    @apply h-0;
    @apply opacity-0;
}

.containerMobile .containerActiveMenu {
    @apply h-60;
    @apply opacity-100;
}


/* #region HAMBURGER ANIMATION */
.containerBtnMobile {
    @apply ml-auto;
}

.btnMobile {
    @apply block;
}

.btnMobile label {
    display: flex;
    flex-direction: column;
    width: 35px;
    cursor: pointer;
}

.btnMobile label span {
    background: #fff;
    border-radius: 10px;
    height: 4px;
    margin: 3px 0;
    transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

}


.btnMobile span:nth-of-type(1) {
    width: 50%;

}

.btnMobile span:nth-of-type(2) {
    width: 100%;
}


.btnMobile span:nth-of-type(3) {
    width: 75%;

}


.btnMobile input[type="checkbox"] {
    display: none;
}


.btnMobile input[type="checkbox"]:checked ~ span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(2px, 0px)
}


.btnMobile input[type="checkbox"]:checked ~ span:nth-of-type(2) {

    transform-origin: top;
    transform: rotatez(-45deg)
}


.btnMobile input[type="checkbox"]:checked ~ span:nth-of-type(3) {

    transform-origin: bottom;
    width: 50%;
    transform: translate(14px, -6px) rotatez(45deg);

}

/* #endregion HAMBURGER ANIMATION */

.alertBarContainer {
    background-color: rgba(255, 0, 0, 0.8);
    width: 100%;
    min-height: 150px;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    z-index: 999;
    padding: 1rem;
}

.alertBarContainer .warningIconContainer {
    font-size: 5rem;
    color: white;
}

.alertBarContainer .warningContainer {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.alertBarContainer .warningContainer p {
    color: white;
}
